<div class="navbar navbar-default">
	<span id="logo">Ayako Blog</span>
	<ul class="nav  nav-pills">

	  <li role="presentation"><a href="#"><%= t('.blog')%></a></li>
	  <li role="presentation"><a href="#"><%= t('.about_me') %></a></li>
	  <li role="presentation"><a href="#"><%= t('.recipe')%></a></li>
	  <li role="presentation"><a href="#"><%= t('.contact') %></a></li>
	  <li>
	  	 <form action ="<%= posts_path %>" class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search" name="search" data-toggle="tooltip" data-placement="bottom" data-html="true" title="Tags with small letters and a comma between tags">
            </div>
            <button type="submit" class="btn btn-primary" ><span class="glyphicon glyphicon-search" ></span></button>
          </form>
	  </li>
	  <li><%= link_to "English", change_locale_path(:en)%></li>
      <li><%= link_to "German", change_locale_path(:de)%></li>
	  <li><%= link_to "Japanese", change_locale_path(:ja)%></li>
	</ul>
</div>