<!DOCTYPE html>
<html>
<head>
  <title>Foodblog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "layouts/navigation" %>
<div class="col-md-1"></div>
<div class="col-md-7">
	<%= yield %>
</div>
<div class="col-md-4">
	<%= render "layouts/tagcloud" %>
</body>
</html>
